.bod {
  color: white;
  background-color: #C80000;
}
#search {
  margin-top: 30px;
}
#navigation {
  margin-top: 10px;
}
#results {
  margin-top: 30px;
}
#review {
  margin-top: 30px;
}
#recent-reviews {
  margin-top: 30px
}
#new-business {
  margin-top: 30px
}
#business-listing {
  margin-top: 30px
}
#business-profile {
  margin-top: 30px
}
